{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <div class="center">
      <div class="abt">
        <p>We, the students of VIT Vellore have made this web application which extracts the relations from the text file which is given
           as input display it with the possible relations which can be present in the text. <br>
          Here we have trained the data set for flight information so if you provide the input as a normal English sentence for boarding a flight,
          it will give you the possible relations from the sentence.
        </p>
      </div>
  </div>
{% endblock %}

